*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Tajawal',sans-serif;
    background:#f5f1e8;
}

/* NAVBAR */

.navbar{
    height:80px;
    background:#f7f3ea;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 20px;
}

.logo{
    font-size:42px;
    font-weight:700;
    color:#264738;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:18px;
}

.navbar a{
    text-decoration:none;
    color:#264738;
    font-weight:600;
}

/* HERO */

.hero{
    height:650px;

    background-image:url("../hero-bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;
    justify-content:flex-end;

    padding:30px;
}

.hero-content{
    max-width:380px;
    text-align:right;
}

.hero-decoration{
    display:block;

    width:120px;
    height:2px;

    background:#d4b06a;

    margin-bottom:20px;
}

.hero h1{
    color:#d4b06a;
    font-size:90px;
    margin-bottom:15px;
}

.hero p{
    color:white;
    line-height:2;
    font-size:20px;

    margin-bottom:25px;
}

.hero-buttons{
    display:flex;
    gap:12px;
}

.btn{
    text-decoration:none;

    padding:14px 22px;

    border-radius:14px;

    font-weight:700;
}

.btn-gold{
    background:#d4b06a;
    color:#264738;
}

.btn-outline{
    border:2px solid #d4b06a;
    color:white;
}

/* MOBILE */

@media(max-width:768px){

    .hero{
        justify-content:center;
        text-align:center;
    }

    .hero-content{
        text-align:center;
    }

    .hero-decoration{
        margin:0 auto 20px;
    }

    .hero-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .hero h1{
        font-size:70px;
    }

    .hero p{
        font-size:18px;
    }

}
